.container {
  background-color: #5f1316;
  padding: 30px;
  display: flex;
  justify-content: space-between; 
}

.img1 {
  padding: 20px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #131313; 
}

li {
  float: left;
  font-size: 20px; 
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

li a:hover {
  background-color: #8a8a8a; 
}

p{
    color: brown
}

.container1{
    background-color: black;
}

.img2{
    display: flex;
    justify-content: flex-end;
}